---
import '../styles/normalise.css';
import '../styles/base.css';
import '../styles/global.css';

import Header from '../layouts/header.astro';
import Head from '../layouts/head.astro';
import Footer from '../layouts/footer.astro';
---

<html lang="en">
<Head
    title="tstfie | Information"
    description="About tstfie."
    canonical="https://www.tstfie.ch/about"
/>
<body>
  <container class="padding">
	{/*-------- Header component --------*/}
	<Header>
		<a href="/#projects" class="navigation">View Projects</a>
		<a onclick="history.back()" class="navigation">Back</a>
	</Header>

	{/*-------- Main content --------*/}
    <section class="window">
      <h1>Information</h1>
      <p>Niklay Wiborny, for tstfie. Creating conceptual sneaker collections and music projects. The work approaches design as a way of thinking in public, using digital mock-ups not as blueprints for manufacturing, but as conceptual, narrative-conveying art projects built around curated themes.<br><br>Emerging publicly in 2024, the first cycle moved through twelve sneaker collections exploring ambition, devotion, and self-construction. SAINT PABLO, the 23/24 cycle’s conclusion, set a vocabulary of maximalist detail, extreme devotion, and self-absorbed conviction. Its follow-up, T.W.I.Y WAVES, pulled back, choosing simplicity. The following collections disrupted both paths, further dissolving certainty and stability in the process, culminating in Periapsis (2025). The 34-design collection navigates depersonalisation, orbit, and distance, working through guilt and the oscillation between self-erasure and discovery, a response to a previous creative period.<br><br>In parallel: music. Early demos and mixtapes such as Interludes (2024) established a foundational sound. INTERLUDIUMAR (2024) gathered the archetypal motifs in a 10-track instrumental debut, inviting multiple collaborative singles in the following months. Collaborations rolling out eventually lead to the 10-minute posse cut Der Freestyle, der Brennt (2024) releasing on the same day as the LCKSPTXIYGNUWITXD sneaker collection. The output-heavy year of 2024 resolved with the 10-track mixtape SAINTIFICATION in December and a further victory lap in the compilation mixtape What&#x27;s That, Poetry?<br><br>Silence shaped the following year: a bi-monthly, low-promo release schedule structured the creative output of 2025. Circle of Fifths presented a rare image: twelve slowly unfolding instrumentals built around repetition culminated into the April release. SPIRITS followed in August, leaning into theater, faith, and chaos. The EP showed a work of collapse, later revisited in a Legacy release.<br><br>Across mediums, tstfie exudes unapologetic presence, abandoning stability. Consistency almost exclusively retains through fundamental tensions: the pull between ambition and surrender, shame and silence and ascent and return creates a secular vessel to convey sacred ideas. The work documents the difficulty of self-depiction in an ongoing oscillation between clarity and impulsiveness.</p>
    </section>
	{/*-------- Footer component --------*/}
	<Footer/>
  </container>
</body>
</html>