---
import Head from '../../components/head.astro';

import { websiteName } from '../../lib.js';
---

<html lang="en">
	<head>
		<Head />
	</head>
	<body>
		<h1>@{websiteName}</h1>
		<h2>redirecting to latest project</h2>
	</body>
</html>
