---
export const prerender = true;

import "../../styles/base.css"
import "../../styles/global.css"
import "../../styles/normalise.css"

import Head from '../../components/head.astro';

---

<html lang="en">
	<head>
		<Head />
	</head>
	<body>
		<h2>redirecting to latest project</h2>
	</body>
</html>
