---
import Head from '../../layouts/head.astro';
import Header from '../../layouts/header.astro';
import Footer from '../../layouts/footer.astro';

import '../../styles/global.css';
import '../../styles/base.css';
import '../../styles/normalise.css';
---
<html>

<Head
  title="tstfie | Sign Up"
   description="Sign up for the newsletter."
   canonical="https://www.tstfie.ch/signup"
/>
<body>
  <container class="padding">
    <Header>
      <div class="projects-nav">
        <a href="/?projects=open" class="navigation view-projects">View projects</a>
        </div>
      <a onclick="history.back()" class="navigation">Back</a>
    </Header>
    <section class="window contact" >
        <h1>Sign up</h1>
        <p>Receive updates</p>
      <section class="contact-section">
        <div class="form-block">
          <form
            id="email-form"
            name="email-form"
            data-name="Email Form"
            action="api/signup"
            method="post"
            enctype="multipart/form-data"
            data-astro-reload="true"
            class="fields-wrapper form">
            <div class="div-block">
              <div>
                <label for="first-name"><h5>first name<span class="asterisk">*</span></h5></label>
                <input class="input-field" maxlength="256" name="First-Name" data-name="First Name" type="text" id="first-name" required="">
              </div>
              <div>
                <label for="last-name"><h5>last name</h5></label>
                <input class="input-field" maxlength="256" name="Last-Name" data-name="Last Name" id="last-name" type="text">
              </div>
            </div>
            <div>
              <label for="email"><h5>email address</h5></label>
              <input class="input-field email" maxlength="256" name="email" data-name="Email" placeholder="" type="email" id="email" required="">
            </div>
              <label for="interest"><h5>get notified for..<span class="asterisk">*</span></h5></label>
              <div class="hflex" style="column-gap:12px">
                <div class="hflex" style="flex-flow:row-reverse; align-items:center;">
                  <label><h5>Designs</h5></label><input type="checkbox" name="interest" value="designs" class="input-field checkbox" />
                </div>
                <div class="hflex" style="flex-flow:row-reverse; align-items:center;">
                  <label><h5>Music</h5></label><input type="checkbox" name="interest" value="music" class="input-field checkbox" />
                </div>
                <div class="hflex" style="flex-flow:row-reverse; align-items:center;">
                  <label><h5>Other</h5></label><input type="checkbox" name="interest" value="other" class="input-field checkbox" />
                </div>
            </div>
            <div class="interaction-wrapper" style="margin-top:12px;">
              <button type="submit" class="cta primary"><h4>Submit</h4></button>
            </div>
          </form>
        </div>
      </section>
    </section>
    <Footer/>
  </container>
</body>
</html>