---
import Head from '../../layouts/head.astro';
import Header from '../../layouts/header.astro';
import Footer from '../../layouts/footer.astro';

import '../../styles/global.css';
import '../../styles/base.css';
import '../../styles/normalise.css';
---
<html>

<Head
  title="tstfie | Sign Up"
   description="Sign up for the newsletter."
   canonical="https://www.tstfie.ch/signup"
/>
<body>
  <container class="padding">
    <Header>
      <a href="/#projects" class="navigation">View projects</a>
      <a onclick="history.back()" class="navigation">Back</a>
    </Header>
    <section class="window contact">
      <div>
        <h1>Sign up</h1>
        <p>Receive updates</p>
      </div>
      <section class="contact-section">
        <h3>Successfully signed up.</h3>
        <p>You will shortly receive an email asking you to confirm your subscription.</p>
        <a href="/" class="cta"><h5>Home</h5></a>
      </section>
    <div>
    </div>
    </section>
    <Footer/>
  </container>
</body>
</html>