---
---

 <section class="hero">
  <nav>
    <slot/>
  </nav>
  <div class="website-name">
    <a class="navigation">@tstfie</a>
    <div class="secondary-nav">
      <div class="interaction-wrapper">
        <div class="large-breakpoint-only">|</div>
        <a href="/about" class="navigation">about</a>
        <a href="/contact" class="navigation">contact</a>
        <a href="/designs" class="navigation">designs</a>
        <a href="/music" class="navigation">music</a>
      </div>
    </div>
  </div>
 </section>