---
import '../styles/normalise.css';
import '../styles/base.css';
import '../styles/global.css';
---

 <section class="hero">
  <nav>
    <slot/>
  </nav>
  <div data-w-id="6968a50e-80fc-2a7a-f3ee-1126629815a2" class="website-name">
    <a class="navigation">@tstfie</a>
    <div style="display:none" class="secondary-nav">
      <div class="interaction-wrapper">
        <div class="large-breakpoint-only">|</div>
        <a href="#" class="navigation">about</a>
        <a href="#" class="navigation">contact</a>
        <a href="#" class="navigation">designs</a>
        <a href="#" class="navigation">music</a>
      </div>
    </div>
  </div>
 </section>